<footer id="footer" class="wrapper"> 
    <p>Letters written by <a href="http://keen.me">Jeff Keen</a> and Sam Lawrence.  Replies written by actual customer service representatives.</p>
    <p style="margin:20px 0;">
     <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsincerelylindawilson&amp;width=400&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=50&amp;ref=site_footer" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:50px; position:relative;" allowTransparency="true"></iframe>
     <br/>
     Join the ultra-elite group of people who like this on Facebook, and then brag about it to your friends.
    </p>
  
  <p>Follow  <a href="http://twitter.com/lindabeewilson">@lindabeewilson</a> on Twitter.</p>
  
  
</footer>
