---
layout: boxes
title: Where I complain to companies about ridiculous things, under the guise of a naive 40-something midwestern woman.
---

<h2>Favorites</h2>

{% for post in site.posts %}
  {% if post.favorite == true %}
  <div class="letter-box">
    <h2 class="letter-title">
      <a href="letters/{{ post.category }}">{{ post.title }}</a>
    </h2>
    <span class="letter-date">
      {{ post.date | date_to_long_string }}
    </span>
    {{ post.editors_note | editors_note }}
    
    <div class="letter-preview">
      {{ post.content }}
    </div>
  </div>
	{% endif %}
{% endfor %}


<h2>Recent</h2>

{% for post in site.posts %}
  {% if post.type == "original" %}
  <div class="letter-box">
    <h2 class="letter-title">
      <a href="letters/{{ post.category }}">{{ post.title }}</a>
    </h2>
    <span class="letter-date">
      {{ post.date | date_to_long_string }}
    </span>
    {{ post.editors_note | editors_note }}
    
    <div class="letter-preview">
      {{ post.content }}
    </div>
  </div>
	{% endif %}
{% endfor %}
