---
layout: default
title: Where I complain to companies about ridiculous things, under the guise of a naive 40-something midwestern woman.
---
{% for post in site.posts %}
  {% if post.type == "original" %}
  <div class="letter">
    <h2 class="letter-title">
      <a href="letters/{{ post.category }}">{{ post.title }}</a>
    </h2>
    <span class="letter-date">
      {{ post.date | date_to_long_string }}
    </span>
    {{ post.editors_note | editors_note }}
    
    <div class="letter-content">
      {{ post.content }}
    </div>
    
    {{ post.category | show_more }}
  </div>
	{% endif %}
{% endfor %}
